* {
    margin: 0;
    padding: 0;
}

.navegation {
    background: #3cbbb1ff;
}

/**Estilos Del Formulario De Comentarios */
.contact{
    width: 1050px;
    height: auto;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #3cbbb1ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0.9;
}

.cantact_info{
    width: 50%;
    position: relative;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(logo-contact.jpg);
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-position: center center;
   
}
.Titulo{
    color: white;
    position: relative;
    z-index: 2;
    font-size: 50px;
}
#Titulo-Grande{color: rgba(238, 66, 103, 0.767);}

.form{ margin: 5%;margin-top: 8%;}

.row input ,textarea{
    background: none;
    font-size: 20px;
    margin-left: 3%;
    width: 100%;
    border:none;
    border-bottom:2px solid rgba(8, 8, 8, 0.349);
    outline: none;
}
.row input:focus ,textarea:focus{border-color: #ee4266ff; }

#btn{
    margin: 1%;
    margin-top: 5%;
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #ee4266ff;
    color: #fff;
    border: none;
    outline: none;
}
/*___________________________________________________________________*/

/* Paleta de colores */

/* CSS HEX */
/* --paradise-pink: #ee4266ff;
--russian-violet: #2a1e5cff;
--rich-black-fogra-39: #0a0f0dff;
--silver-sand: #c4cbcaff;
--light-sea-green: #3cbbb1ff; */

/* SCSS RGB */
/* $paradise-pink: rgba(238, 66, 102, 1);
$russian-violet: rgba(42, 30, 92, 1);
$rich-black-fogra-39: rgba(10, 15, 13, 1);
$silver-sand: rgba(196, 203, 202, 1);
$light-sea-green: rgba(60, 187, 177, 1); */